body {
    overflow-y: scroll;
}

canvas {
    z-index: 0;
}

h1, h2, h3, button {
    font-family: 'LemonMilk', "Arial Black", serif;
}

button {
    margin-left: 20px;
    margin-right: 20px;
    pointer-events: auto;
}

tr {
    border-radius: 10px;
}

#overlay {
    position: absolute;
    display: table-cell;
    background: transparent;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
    z-index: 1;
    pointer-events: none;

}

.overlay-title {
    font-size: 2.5em;
    padding-top: 5%;
    color: #fff;
}

/* Leader-board ------------------------------------------------------------------------------------------------------*/

#leader-board {
    position: relative;
    display: none;
    width: 50%;
    height: 90%;
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    z-index: 2;
    vertical-align: middle;
    color: #fff;
}

#btn-leader-board-exit {
    font-family: 'LemonMilk', "Arial Black", serif;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 7px;
}

#table-leader-board {
    width: 60%;
    margin: 10px auto 10px auto;
    padding-bottom: 10px;
    font-family: 'LemonMilk', "Arial Black", serif;
    text-align: left;
}

#table-leader-board tbody {
    font-family: "Arial Black", sans-serif;
    text-align: left;
    font-size: small;
}

/* Main Menu ---------------------------------------------------------------------------------------------------------*/

.menu-button {
    margin: 0 auto 0 auto;
    font-size: 48px;
    background: none;
    border: none;
}

#main-menu i {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    width: 75px;
    height: 75px;
    padding: 15px;
    text-align: center;
}

.text-box-header {
    font-size: 25px;
}

.menu-button:hover {
    border: none;
    background: transparent;
}

.menu-button::selection {
    border: none;
    background: transparent;
}

#game-header {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 0;
}

#game-banner {
    width: 70%;
    margin: auto;
}

#btn-main-menu-play {
    position: absolute;
    display: none;
    margin: 0 auto 0 auto;
    font-size: 80px;
    background: none;
    border: none;
    top: 260px;
    left: 325px;
}

#btn-main-menu-play i {
    width: 120px;
    height: 120px;
    background: #40d97c;
    padding: 20px;
    padding-left: 35px;
}

#menu-buttons {
    position: absolute;
    top: -230px;
    left: 250px;
}

#btn-main-menu-leader-board {
    display: none;
    border: none;
}

#btn-main-menu-leader-board i {
    background: #d92c3f;
}

#btn-main-menu-volume-on,
#btn-main-menu-volume-off{
    display: none;
    border: none;
}

#btn-main-menu-volume-on i,
#btn-main-menu-volume-off i{
    background: #2c64d9;
}

#btn-main-menu-share {
    display: none;
    border: none;
}

#btn-main-menu-share i {
    background: #d9c846;
}

#instructions {
    position: absolute;
    display: none;
    top: 12em;
    left: 2em;
    background-color: rgba(0,0,0,0.50);
    width: 15em;
    height: auto;
    color: #fff;
    border-radius: 5px;
}

#instructions li {
    padding: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
}

#instructions hr {
    width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5px;
}

#instructions-brown {
    color: #795548;
}

#instructions-green {
    color: #12ff19;
}

#instructions-red {
    color: #ff0005;
}

#instructions-yellow {
    color: #ffd226;
}

#random-fact {
    position: absolute;
    display: inline-block;
    top: 12em;
    right: 2em;
    background-color: rgba(0,0,0,0.50);
    width: 15em;
    height: auto;
    color: #fff;
    border-radius: 5px;
}

#random-fact p {
    padding: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
}

#random-fact hr {
    width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5px;
}

/* Game Login --------------------------------------------------------------------------------------------------------*/

.login-menu {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    -webkit-user-select: auto;
}

#loginbox {
    position: relative;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: #fff;
    pointer-events: auto;
}

#game-login {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 90%;
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    vertical-align: middle;
    color: #fff;
}

#game-login button {
    width: 50%;
    margin: 0;
}

#login-panel {
    top: 75px;
}

#loginbox-panel-heading {
    color: #fff;
    background-color: transparent;
}

#loginform {
    font-family: 'Varela Round', sans-serif;
}

#log-out-main-menu {
    position: absolute;
    display: none;
    top: 7px;
    left: 317px;
}

#log-out-main-menu button{
    font-size: 20px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #9c76d5;
    border: none;
}
/* Game Signup --------------------------------------------------------------------------------------------------------*/

#signupbox {
    pointer-events: auto;
}

#signupbox a {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

#signupbox button{
    font-family: 'Varela Round', sans-serif;
}

#signupbox button:hover{

}

#signupbox .panel-info {
    background-color: rgba(0,0,0,0.4);
    border: none;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

#signupbox-panel-heading {
    color: #fff;
    background-color: transparent;
}

/* Overlay Mobile ----------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 320px) {
    .overlay-title {
        font-size: 2em;
    }
}

@media only screen and (max-width: 430px) {
    .overlay-title {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 640px) {
    .overlay-title {
        font-size: 3em;
    }
}

/* Misc --------------------------------------------------------------------------------------------------------------*/

.bottom-align-text {
    position: relative;
    top: 400px;
    text-align: center;
}
