ul, li {
    text-decoration: none;
    list-style: none;
}

button {
    margin: 10px 0 10px 0;
}

#game-window {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
}

/* line 9, ../sass/style.scss */
#game-window canvas {
    position: absolute;
    z-index: 1;
}

.menu {
    margin: 0 auto;
}

/* line 14, ../sass/style.scss */
#game-window #overlay {
    display: none;
    height: 100%;
    width: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
    z-index: 2;
}

#game-window #overlay #game-over {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
}

#main-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#main-menu img {
    position: relative;
    display: inline-block;
    width: 80%;
    margin-bottom: 10px;

}

#main-menu #btn-play {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    position: relative;
    display: inline-block;
    padding: 10px 0 10px 0;
    width: 25%;

}

#main-menu #btn-leader {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    position: relative;
    display: inline-block;
    padding: 10px 0 10px 0;
    width: 25%;
}

#game-over {
    width: 20%;
    height: 20%;
    margin: auto;
    z-index: 0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#menu-list {
    position: absolute;
    padding: 0;
    width: 100%;
    top: 35%;
    left: 0;
}